<main class="contenedor">
  <form method="POST" class="default-form">
    <div class="campo">
      <label for="">
       Nuevo Password
      </label>
      <input type="password" name="password" placeholder="Nuevo password" />
    </div>
   
    
    <div class="campo">
      <input type="submit" value="Guardar Cambios" class="btn btn-azul" />
    </div>
  </form>
</main>